:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  --font-size-base: 16px;
  --font-size-h1: 2.5em;
  --font-size-h2: 2em;
  --font-size-h3: 1.75em;
  --font-size-h4: 1.5em;
  --font-size-h5: 1.25em;
  --font-size-p: 1.1em;

  /* -------------- colores -------------- */
  --alpha-color: rgb(55,144,187);
  --alpha-color-doble: rgb(34, 91, 120);
  --second-color: rgb(225,216,159);
  --second-color-50: rgb(225,216,159,0.5);
  --third-color:rgb(205,199,229);
  --third-color-50:rgb(205,199,229, 0.5);
  /*--third-color: rgb(181,148,182)*/
}

body {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: 400;
}

h6 {
  font-size: var(--font-size-h6);
  font-weight: 400;
}

p {
  font-size: var(--font-size-p);
  font-weight: 400;
}

#root {
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.super-contenedor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}
main{
  flex: 1;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}