.article-section{
    padding: 0;
    margin: 0;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.article-info{
    text-align: start;
    flex: 1;
    padding: 20px;
}

.text-article{
    padding: 0px;
}

.article-section .article-info .text-article:first-of-type{
  font-weight: 780;
  font-size: 25px;
  color: gray;
}

.imagen-article{
    margin-top: 70px;
    height: 300px;
    width: auto;
  }

  .article-section.right {
    flex-direction: row-reverse;
  }

  @media (max-width: 1600px) {
    .imagen-article {
      height: 350px;
    }
  }
  
  @media (max-width: 1200px) {
    .article-info {
      padding: 20px;
    }
  
    .imagen-article {
      height: 250px;
      width: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .article-section.right, .article-section{
      flex-direction: column;
    }

    .article-info {
      padding: 30px;
    }
    .imagen-article {
      height: auto;
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .article-info {
      padding: 20px;
    }
  
    .imagen-article {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .article-info {
      padding: 10px;
    }
  
    .imagen-article {
      height: auto;
      width: 100%;
    }
  }