.article-section {
  color: black;
  display: grid;
  grid-template-rows: auto auto; /* Dos filas */
  grid-template-columns: auto auto; /* Dos columnas*/
  align-items: center;
  gap: 30px;
  padding: 20px 20px 30px 20px;
  opacity: 0;
  transform: translateX(-100vw); /* Inicia fuera de la pantalla a la izquierda */
  transition: opacity 1.5s ease-in-out, transform 2s ease-in-out;
}

.article-info {
  text-align: start;
  grid-row: 1 / 2;
  padding: 0;
}

.article-image {
  grid-row: 1 / -1;
  overflow: hidden;
}

.text-article{
    padding: 5px;
    margin: 0px;
}

.article-section .article-info .text-article:first-of-type{
  font-weight: 700;
  font-size: 25px;
  color: gray;
}
.article-enter-active {
  opacity: 1;
  transform: translateX(0); /* Mueve el artículo a su posición original */
}
.article-section.right {
  transform: translateX(200vw); /* Inicia fuera de la pantalla a la derecha */
  transition: opacity 1s ease-in-out, transform 2s ease-in-out;
}
.article-section.right.article-enter-active {
  opacity: 1;
  transform: translateX(0); /* Mueve el artículo a su posición original */
}

/* Posicionamiento según imagePosition */
.article-section.left .article-info {
  grid-column: 2 / 3; /* Texto a la derecha */
}

.article-section.left .article-image {
  grid-column: 1 / 2; /* Imagen a la izquierda */
}

.article-section.right .article-info {
  grid-column: 1 / 2; /* Texto a la izquierda */
}

.article-section.right .article-image {
  grid-column: 2 / 3; /* Imagen a la derecha */
}
.article-section.left:first-of-type .article-info{
  grid-column: 1 / -1;
}
  /* --------- Link button -------- */
.btn{
  justify-self: start;
  align-self: flex-start;
}
.cta {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid var(--second-color);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.499);
  background-color: transparent;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.5s, color 0.3s;
  width: fit-content;
  grid-row: 2 / 3;
  grid-column: 1 / 3; /* Ubica el botón en toda la segunda fila */
}

.cta:hover {
background-color: var(--second-color); 

}

.cta svg {
margin-left: 10px;
transition: transform 0.3s;
}

.cta:hover svg {
transform: translateX(5px); 
}


  @media (max-width: 1600px) {
    .imagen-article {
      height: 350px;
    }
  }
  
  @media (max-width: 1200px) {
    .article-info {
      padding: 20px;
    }
  
    .imagen-article {
      height: 250px;
      width: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .article-section.right, .article-section{
      flex-direction: column;
    }

    .article-info {
      padding: 30px;
    }
    .imagen-article {
      height: auto;
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .article-info {
      padding: 20px;
    }
  
    .imagen-article {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .article-info {
      padding: 10px;
    }
  
    .imagen-article {
      height: auto;
      width: 100%;
    }
  }