@import url('../App.css');
.carousel .slide img {
  width: 100%;
  height: auto;
}

.carousel .carousel-image {
  position: relative;
  width: 100%;
  height: auto;  /* Este ajusta el carousel, no las imagenes  */
  overflow: hidden;
}

.carousel .carousel-image img {
  width: 100%;
  height: auto;
}

.contenedor {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  max-width: 80%;
}

.carousel .carousel-text {
  position: absolute;
  margin: 20px;
  bottom: 20px; /* Ajusta la posición vertical del texto */
  left: 20px; /* Ajusta la posición horizontal del texto */
  color: white; /* Color del texto */
  background-color: var(--alpha-color-doble);
  z-index: 2; 
  width: 100%;
  text-align: start;
  padding-left: 20px;
  border-radius: 50px 0px 0px 50px;
}


.carousel .carousel-image::before,
.carousel .carousel-image::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10%; /* Ajusta el ancho del borde borroso */
  height: 100%;
  z-index: 1;
}

.carousel .carousel-image::before {
  left: 0;
}

.carousel .carousel-image::after {
  right: 0;
}

.carousel.carousel-slider .control-arrow::before{

}

/* Media query for  medium screens */
@media (max-width: 1200px) {
  .carousel-text {
    font-size: 30px;
  }
}
/* Media query for small screens */
@media (max-width: 900px) {
  .carousel-text {
    font-size: 24px;
  }
}

/* Media query for extra small screens */
@media (max-width: 600px) {
  .carousel-text {
    font-size: 18px;
  }

}