.carousel .slide img {
  width: 100%;
  height: auto;
}

.carousel .carousel-image {
  position: relative;
  width: 100%;
  height: auto;  /* Este ajusta el carousel, no las imagenes  */
  overflow: hidden;
}

.carousel .carousel-image img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out;
}

.carousel .carousel-image img:hover {
  filter: blur(0px); /* Remueve el desenfoque al pasar el cursor */
}

.contenedor {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra del texto */
  margin: 0;
  max-width: 80%;
}

.carousel .carousel-text {
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical del texto */
  left: 20px; /* Ajusta la posición horizontal del texto */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  z-index: 2; /* Asegúrate de que el texto esté por encima de la imagen */
}


.carousel .carousel-image::before,
.carousel .carousel-image::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10%; /* Ajusta el ancho del borde borroso */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.556), rgba(255, 255, 255, 0));
  z-index: 1;
}

.carousel .carousel-image::before {
  left: 0;
}

.carousel .carousel-image::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.645), rgba(255, 255, 255, 0));
}

/* Media query for  medium screens */
@media (max-width: 1024px) {
  .carousel-text {
    font-size: 34px;
  }
}
/* Media query for small screens */
@media (max-width: 768px) {
  .carousel-text {
    font-size: 24px;
  }
}

/* Media query for extra small screens */
@media (max-width: 480px) {
  .carousel-text {
    font-size: 18px;
  }

}