@import url('../App.css');
.footer {
    background: linear-gradient(to right, var(--alpha-color), var(--alpha-color-doble));
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px 300px;
    font-family: Arial, sans-serif;
  }

  .footer-footer{
    background: linear-gradient(to right, var(--alpha-color), var(--alpha-color-doble));
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  }

.logo-image{
    padding: 10px;
    height: 4em;
  }

.icons{
    padding-left: 40px;
    padding-right: 20px;
    font-size: 30px;
    color: white;
}

/* Media query for medium screens */
@media (max-width: 1024px) {
  .footer-footer{
    justify-content: center;
    background: var(--alpha-color);
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .footer-footer{
    justify-content: center;
    background: var(--alpha-color);
    gap: 0px;
  }
  .logo-image{
    height: 3.5em;
  }
}

/* Media query for extra small screens */
@media (max-width: 550px) {
  .footer-footer{
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: var(--alpha-color);
    gap: 10px;
  }
  .logo-image{
    height: 4em;
  }
}