@import url('../App.css');
.footer {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, var(--alpha-color), var(--alpha-color) ,var(--alpha-color-doble));
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    gap: 20px;
    padding: 50px 40px 130px 40px;
  }

.social-media{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
}

.social-media h5{
  color: white;
}
.logo-image{
    padding: 10px;
    height: 5em;
  }

.icons-section{
  display: flex;
  gap: 30px;
}

.icons{
    font-size: 30px;
    color: white;
}

.alpha-info {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: start;
  color: white;
}

.alpha-info h5 {
  font-size: 20px;
  margin: 0px;
}

.info{
  padding: 6px;
  font-size: 20px;
}

.alpha-info strong {
  font-weight: bold;
}

.contact-line{
  padding-right: 15px;
}

a{
  color: white;
  text-decoration: none;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .footer{
    justify-content: center;
    flex-direction: row;
    background: var(--alpha-color);
  }
  a{
    font-size: 17px;
  }
}

/* Media query for extra small screens */
@media (max-width: 344px) {
  a{
    font-size: 16px;
  }
}