@import url('../App.css');
  header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background: linear-gradient(to right, var(--alpha-color), var(--alpha-color), var(--alpha-color-doble));
    width: 100%;
    flex-grow: 1;
    z-index: 2;
  }
  
  header .logo-image{
    padding: 10px;
    height: 4em;
  }

  nav{
    background: var(--second-color);
    color: black;
    padding-top: 4em;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }

  .header-links{
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .header-links:hover{
    color: var(--second-color);
    text-decoration: underline 2px var(--second-color);
  }

  button{
    cursor: pointer;
    color: black;
    background: var(--second-color);
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    border: 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  button:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 4em;
  }

/* Media query for small screens */
@media (max-width: 768px) {
  .header-links {
    padding: 8px;
  }

  button {
    padding: 6px;
  }

  .contact-info{
    gap: 2px;
  }
}

/* Media query for extra small screens */
@media (max-width: 634px) {
  header{
    flex-direction: column;
    background: var(--alpha-color);
  }
  .logo-image {
    height: 3em;
  }

  .header-links {
    font-size: 0.9em;
    padding: 5px;
  }

  button {
    padding: 5px;
    font-size: 0.9em;
  }

  .contact-info{
    padding-top: 100px;
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
}

/*
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faEnvelope } from '@fortawesome/free-solid-svg-icons';
import { faWhatsapp } from '@fortawesome/free-brands-svg-icons';

      <div>
        <nav className='contact-info'>
          <div>
            <FontAwesomeIcon icon={faEnvelope} />
            <a href="mailto:contacto@alphascope.com.ar" className='contact-line'>contacto@alphascope.com.ar</a>
          </div>
          <div>
            <FontAwesomeIcon icon={faWhatsapp} />
            <a href="https://wa.me/543435093106" className='contact-line' target="_blank">+54 343 5 093106</a>
          </div>
          <div>
            <FontAwesomeIcon icon={faWhatsapp} />
            <a href="" className='contact-line' target="_blank">+54 343 4 341791</a>
          </div>
          </nav>
        </div>
*/