@import url('../App.css');
  header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background: linear-gradient(to right, var(--alpha-color), var(--alpha-color), var(--alpha-color-doble));
    width: 100%;
    flex-grow: 1;
    z-index: 10;
  }
  
  header .logo-image{
    padding: 10px;
    height: 4.5em;
    transition: height 1s ease, padding 0.3s ease;
  }

  .logo-image.small {
    height: 3.5em;
    padding: 10px;
  }

  nav{
    background: var(--second-color);
    color: black;
    padding-top: 4em;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
  }
  
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    padding-right: 30px;
    font-weight: 540;
    gap: 20px;
  }

  .header-links{
    margin: 10px;
    padding-bottom: 0px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
  }

  .header-links::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--second-color);
    transition: width 0.3s ease, left 0.3s ease;
  }

  .header-links:hover{
    color: var(--second-color);
  }

  .header-links:hover::after {
    width: 100%;
    left: 0;
  }

  .header-links.active {
    color: var(--second-color);
  }

  button{
    cursor: pointer;
    color: black;
    background: var(--second-color);
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    border: 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  button:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 4em;
  }

/* Media query for small screens */
@media (max-width: 768px) {
  header{
    flex-direction: column;
    background: var(--alpha-color);
    height: var(--header-height-min);
    justify-content: end;
    
  }
  header .logo-image{
    height: 4em;
  }
  .nav-links{
    font-size: 15px;
    padding-right: 0px;
  }

  button {
    padding: 5px;
    font-size: 0.9em;
  }
  .contact-info{
    padding-top: 100px;
    flex-direction: column;
    gap: 0px;
    align-items: start;
  }
}
