@import url('../App.css');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-section{
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.main-section h1{
  text-align: center;
  margin: 5px;
}

p{
    padding-left: 300px;
    padding-right: 300px;
}

.card-section{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

article{
    color: black;
    padding: 20px 10px;
    border-radius: 10px;
    width: 300px;
    height: 180px;
    perspective: 1000px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 2s ease-in-out;
}

.card {
  position: relative;
  width: 400px;
  height: 270px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.card-back {
  transform: rotateY(180deg);
}
/* --------- ver más button -------- */
a {
    text-decoration: none;
    color: black;
}
.cta {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid var(--second-color); 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.499);
  border-radius: 25px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 1s, color 0.3s; 
}

.cta:hover {
  background-color: var(--second-color); 

}

.cta svg {
  margin-left: 10px;
  transition: transform 0.3s;
}

.cta:hover svg {
  transform: translateX(5px); 
}


  /* Media query for medium medium screens */
@media (max-width: 1475px) {
  .main-section{
    padding: 30px;
  }
  p{
    padding-left: 70px;
    padding-right: 70px;
  }
  .card-section{
    gap: 20px;
  }
  article{
    margin: 10px;
  }
}

/* Media query for medium screens */
@media (max-width: 1024px) {
  .main-section{
    padding: 30px;
  }
  p{
    padding-left: 100px;
    padding-right: 100px;
  }
  .card-section{
    gap: 30px;
  }
  article{
    margin: 10px;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .main-section{
    padding: 20px;
  }
  p{
    padding-left: 50px;
    padding-right: 50px;
  }
  .card-section{
    gap: 10px;
  }
  article{
    margin: 10px;
  }
}


/* Media query for extra small screens */
@media (max-width: 480px) {
  .main-section{
    padding: 10px;
  }
  p{
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-section{
    gap: 0px;
  }
  article{
    margin: 10px;
  }
}