@import url('../App.css');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-section{
    margin: 80px 150px 0px 150px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;

}

.main-section h1{
  text-align: center;
  margin: 0px;
}

p{
  padding: 0 20vw;
}

.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-image: url('../image/alpha-image.jpg');
    background-size: cover;
    margin-bottom: 30px;
}

.card {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 270px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card h3, h6{
  margin: 0px;
  padding: 5px 20px;
}

  /* Media query for medium medium screens */
@media (max-width: 1475px) {
  .main-section{
    margin: 30px 50px 0px 50px;
    padding: 15px 30px;
  }
  p{
    padding: 0 15vw;
  }
  .card-section{
    gap: 20px;
  }
  article{
    margin: 10px;
  }
}

/* Media query for medium screens */
@media (max-width: 1024px) {
  .main-section {
    margin: 20px 20px 0px 20px;
    padding: 10px 20px;
  }
  p {
      padding: 0 10vw;
  }
  .card-section{
    gap: 30px;
  }
  article{
    margin: 10px;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .main-section {
    padding: 10px 15px;
  }
  p {
      padding: 0 5vw;
  }
  .card {
      width: 90%; /* Ajustar el ancho de las tarjetas */
      max-width: 350px;
  }
  .card-section {
      gap: 10px;
  }
  article {
      margin: 10px;
  }
}


/* Media query for extra small screens */
@media (max-width: 480px) {
  .main-section {
    margin: 5px 5px 0px 5px;
    padding: 5px 10px;
  }
  p {
      padding: 0 3vw;
  }
  .card {
      width: 100%; /* Tarjetas ocupan todo el ancho */
      max-width: 300px;
  }
  .card-section {
      gap: 5px;
  }
  article {
      margin: 10px;
  }
}