@import url('../App.css');

.products-page{
    margin: 80px;
    margin-top: 30px;

}
.nav-products{
    position: sticky;
    top: 80px;
    z-index:2;
    padding: 5px;
    background: var(--second-color-50);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35%;
}

.products-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    align-items: stretch;
}

.products-page h2{
    color: black;
    text-align: start;
    margin-top: 30px;
}

/*--------------- nav items -----------------*/
.nav-items:hover{
    background: var(--second-color);
}

.nav-items.active {
    background: var(--second-color); 
    color: black; 
}
.nav-items{
  border-radius: 25px;
  padding: 3px 16px;
  transition: all 0.5s ease-in-out;
}
/*--------------- contacto -----------------*/
.contact-prod-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta {
  width: fit-content;
  padding: 8px 40px;
  border: 3px solid var(--second-color);
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.236);
  color: black;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s ease-in-out;
}

.cta:hover{
  background-color: var(--second-color);
}

@media (max-width: 1340px) {
    .nav-products {
      margin: 0 20%; 
    }
  }

@media (max-width: 768px) {
  .nav-products {
    margin: 0 20%;
    top: 130px;
  }
  .nav-items {
    padding: 5px 10px; 
  }
  .products-page{
    margin: 30px;
    margin-top: 30px;
  }
  .products-display {
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    gap: 10px;
  }
  .product-card {
      height: 300px;
      width: 100%; /* Ajusta el ancho para ocupar el 100% de la columna */
      padding: 5px;
      margin: 5px;
  }
  .products-page h2{
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  .nav-products {
    margin: 0 2%;
  }
  .products-display {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }
}
  
  